{% extends "polls/menu.html" %}
{% block analise %}active{% endblock %}
{% load static %}

{% block content %}

<!--<header id="head" class="secondary" style="margin-bottom: 50px;"></header>-->

    <!-- container -->
    <div class="container">
        <div class="row">

            <!-- main content -->
            <section class="col-sm-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Análise do Auxilio Emergencial</h1>
                </header>
                <h3>Sobre a Análise</h3>
                <p>
                    A analise consistem em coletar as informações presentes no Portal da Transparência do Auxilio Emergencial e por meio deles gerar gráficos de fácil entendimento.
                    Informe o nome do município completo para evitar erros.
                </p>
            </section>
            <!-- /main -->

        </div>
    </div>
    <!-- /container -->

<div class="col col-md-3"></div>
    <div class="max-100 max-vh-100 d-flex">
        <!-- container -->
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-sm-8 col-xl-8 my-auto">
                    <div class="p-5 border-shadow">

                        <form method="POST" class="form-signin" action="/polls/analise/">
                            {% csrf_token %}

                            <div class=" form-group mb-3"  >
                                <div class=" row col-md-12 col-sm-12 col-xl-12 d-flex me-2 ">
                                    <div class="col-xs-12 col-md-6 col-sm-5 col-xl-5">
                                        <label for="tipoGrafico"  class="form-label">Tipo Gráfico:</label>
                                        <select for="inputdefault" class="form-control" name="tipoGrafico" id="tipoGrafico" onchange="regraGraficos(this)" required>
                                            <option value="valor" {{ valor }} >Mês vs Valor</option>
                                            <option value="total" {{ total }} >Cidades vs Total</option>
                                        </select>
                                    </div>
                                     <div class="col-xs-5 col-md-6 col-sm-5 col-xl-5" id="divMunicipio">
                                    <label for="municipio" class="form-label">Município:</label>
<!--                                            <select for="inputdefault" class="form-control" name="municipio" id="municipio" required>-->
<!--                                                <option value="SANTA_CRUZ_DA_BAIXA_VERDE" {{ SANTA_CRUZ_DA_BAIXA_VERDE }}>Santa Cruz da Baixa Verde</option>-->
<!--                                                <option value="SERRA_TALHADA" {{ SERRA_TALHADA }} >Serra Talhada</option>-->
<!--                                                <option value="TRIUNFO" {{ TRIUNFO }} >Triunfo</option>-->
<!--                                                <option value="CALUMBI" {{ CALUMBI }} > Calumbi</option>-->
<!--                                                <option value="FLORESTA" {{ FLORESTA }} >Floresta</option>-->
<!--                                                <option value="MIRANDIBA" {{ MIRANDIBA }} >Mirandiba</option>-->
<!--                                                <option value="SAO_JOSE_DO_BELMONTE" {{ SAO_JOSE_DO_BELMONTE }} >São José do Belmonte</option>-->
<!--                                            </select>-->
                                    <input type="text" class="form-control" id="municipio" name="municipio"
                                    value="{{ municipio }}" placeholder="Município">
                                </div>
                                </div>

                            </div>

                            <div class="form-group mb-3" id="divPeriodo">
                                    <div class=" row col-md-12 col-sm-12 col-xl-12 d-flex me-2">
                                        <div class="col-md-6 col-sm-5 col-xl-5">
                                            <label for="de" class="form-label">De:</label>
                                            <input for="inputdefault" type="month" class="form-control" id="de" name="de" value="{{ de }}" placeholder="De">
                                        </div>
                                        <div class="col-md-6 col-sm-5 col-xl-5">
                                            <label for="ate" class="form-label">Até:</label>
                                            <input for="inputdefault" type="month" class="form-control" id="ate" name="ate" value="{{ de }}" placeholder="Até">
                                        </div>
                                    </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xl-10 d-flex justify-content-center mt-5">
                                <button type="button" class="btn btn-primary" onclick="carregarDados()">Procurar</button>
                                <button type="submit" id="buscar" style="display: none;"> </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
</div>

{% endblock %}

{% block optional %}
    {% if data != None and data != "" %}
        {{ data | safe }}
    {% endif %}

    <div class="modal fade" tabindex="-1" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="content m-5">
                    <center>
                        <div class="loader" id="loader"></div><br>
                        <h4><b id="loadingModal_content"></b></h4>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'polls/analise.js' %}"></script>
{% endblock %}