{% extends "polls/menu.html" %}
{% block inicio %}active{% endblock %}
{% load static %}

{% block content %}

<header id="head" class="secondary" style="margin-bottom: 50px;"></header>

<div class="col col-md-3"></div>
    <div class="max-100 max-vh-100 d-flex align-items-center">
        <!-- container -->
        <div class="container">
            <div class="row justify-content-center align-self-center">
                <div class="col col-md-6 col-xl-5 my-auto">
                    <div class="p-5 border-shadow">

                        <form method="POST" class="form-signin" action="/polls/analise/">
                            {% csrf_token %}

                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col col-md-12 d-flex">
                                        <div class="col-md-8">
                                            <label for="tipoGrafico"  class="form-label">Tipo Gráfico:</label>
                                            <select for="inputdefault" class="form-control" name="tipoGrafico" id="tipoGrafico" onchange="regraGraficos(this)" required>
                                                <option value="valor" {{ valor }} >Mês vs Valor</option>
                                                <option value="total" {{ total }} >Cidades vs Total</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3" id="divMunicipio">
                                <div class="row">
                                    <div class="col col-md-12 d-flex">
                                        <div class="col-md-8">
                                            <label for="municipio" class="form-label">Município:</label>
                                            <select for="inputdefault" class="form-control" name="municipio" id="municipio" required>
                                                <option value="SANTA_CRUZ_DA_BAIXA_VERDE" {{ SANTA_CRUZ_DA_BAIXA_VERDE }}>Santa Cruz da Baixa Verde</option>
                                                <option value="SERRA_TALHADA" {{ SERRA_TALHADA }} >Serra Talhada</option>
                                                <option value="TRIUNFO" {{ TRIUNFO }} >Triunfo</option>
                                                <option value="CALUMBI" {{ CALUMBI }} > Calumbi</option>
                                                <option value="FLORESTA" {{ FLORESTA }} >Floresta</option>
                                                <option value="MIRANDIBA" {{ MIRANDIBA }} >Mirandiba</option>
                                                <option value="SAO_JOSE_DO_BELMONTE" {{ SAO_JOSE_DO_BELMONTE }} >São José do Belmonte</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3" id="divPeriodo">
                                <div class="row">
                                    <div class="col col-md-12 d-flex justify-content-lg-between">
                                        <div class="col-md-6">
                                            <label for="de" class="form-label">De:</label>
                                            <input for="inputdefault" type="month" class="form-control" id="de" name="de" value="{{ de }}" placeholder="De">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="ate" class="form-label">Até:</label>
                                            <input for="inputdefault" type="month" class="form-control" id="ate" name="ate" value="{{ de }}" placeholder="Até">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="display: flex; justify-content: center; margin-top: 30px;">
                                <button type="button" class="btn btn-primary" onclick="carregarDados()">Procurar</button>
                                <button type="submit" id="buscar" style="display: none;"> </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
</div>

{% endblock %}

{% block optional %}
    {% if data != None and data != "" %}
        {{ data | safe }}
    {% endif %}

    <div class="modal fade" tabindex="-1" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="content m-5">
                    <center>
                        <div class="loader" id="loader"></div><br>
                        <h4><b id="loadingModal_content"></b></h4>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'polls/analise.js' %}"></script>
{% endblock %}