{% extends "polls/menu.html" %}

{% block titulo %}Buscar Beneficíario Bolsa Família{% endblock %}

{% block bolsa_familia %}active{% endblock %}

{% block content %}

    <form method="POST" class="form-signin" action="/polls/bolsa-familia/beneficiarios/">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="tipoBusca">Tipo de Busca:</label>
            <select class="form-select" name="tipoBusca" id="tipoBusca">
                <option value="d" {{ devido }}>Devido</option>
                <option value="i" {{ indevido }}>Indevido</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="nomeBeneficiario">Nome do Beneficíario:</label>
            <input type="text" class="form-control" id="nomeBeneficiario" name="nomeBeneficiario" value="{{ nome }}" placeholder="Nome">
        </div>
        <div class="form-group mb-3">
            <label for="nis">NIS:</label>
            <input type="text" class="form-control" id="nis" name="nis" value="{{ nis }}" placeholder="Número do NIS">
        </div>
<!--        <div class="form-group mb-3">-->
<!--            <label for="cpf">CPF:</label>-->
<!--            <input type="text" class="form-control" id="cpf" name="cpf" value="{{ cpf }}" placeholder="Número do CPF">-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Buscar<i class="ui search icon"></i></button>
    </form>

{% endblock %}

{% block optional %}
    {% if data != None %}
        <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <table class="table table-hover">
                <tr>
                    <th>Nome Completo</th>
                    <th>NIS</th>
                    <th>CPF</th>
                </tr>
            {% for b in data %}
                <tr>
                    <td>{{ b.nome_beneficiario }}</td>
                    <td>{{ b.nis }}</td>
                    <td>{{ b.cpf_beneficiario }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}