{% extends "polls/menu.html" %}
{% block cruzamento %}active{% endblock %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" xmlns:>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
{% endblock %}

{% block content %}

<!--   <header id="head" class="secondary"></header>-->

    <!-- container -->
    <div class="container">
        <div class="row">

            <!-- main content -->
            <section class="col-sm-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Cruzamento entre Base de Dados</h1>
                </header>
                <h3>Sobre o Cruzamento</h3>
                <p>
                    O cruzamento de dados é realizado entre uma base de dados principal e uma secundária, no qual pode-se selecionar entre as bases do Auxilio Emergencial, Bolsa Família, Órgãos de Classe e Prefeituras. A base principal e a base secundária não podem ser iguais. São aceitos dois tipos de cruzamentos por interseção e por diferença. O cruzamento por interseção retorna os dados de pessoas que estejam presentes em ambas as bases selecionadas, no entanto, no cruzamento por diferença esses dados são retornados, de modo que, estejam presentes na base principal, porém não estejam presentes na base secundária.
                </p>
                <p>Ao selecionar a base dos Órgãos de Classe, é disponibilizado a opção de seleção de qual órgão deve ser utilizado para realizar o cruzamento.</p>
                <p>Utilize os filtros disponíveis para encontrar resultados mais precisos.</p>
            </section>
            <!-- /main -->

        </div>
    </div>
    <!-- /container -->
    <section class="team-content">
        <div class="container max-100 max-vh-100">
<!--            <div class="row">-->
                <div class="col-md-6 col-sm-8 col-xl-5 my-auto">
                    <!-- <div class="p-5 border-shadow"> -->
                        <div class="row mt-4">
                            <form method="POST" class="form-signin" action="/polls/cruzamento/auxilios/busca/">
                                {% csrf_token %}

                                <div class="col-md-12 col-sm-12 col-xl-12 d-flex">
                                    <div class="col col-md-6 col-sm-6 col-xl-6 me-1">
                                         <label for="base1">Base Principal:</label>
                                        <div class="form-group mb-3">

                                            <select class="form-control form-select" id="base1" name="base1" onchange="regraBases()" required>
                                                <option value=""></option>
                                                <option value="auxilio" {{ auxilio }}>Auxílio Emergencial</option>
                                                <option value="bolsa" {{ bolsa }}>Bolsa Família</option>
                                                <option value="orgao" {{ orgao }}>Órgãos de Classe</option>
                                                <option value="prefeitura" {{ prefeitura }}>Prefeitura</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-sm-6 col-xl-6">
                                        <label for="base2">Base Secundária:</label>
                                        <div class="form-group mb-3">

                                            <select class="form-control form-select" id="base2" name="base2" onchange="regraBases()">
                                                <option value=""></option>
                                                <option value="auxilio" {{ auxilio2 }}>Auxílio Emergencial</option>
                                                <option value="bolsa" {{ bolsa2 }}>Bolsa Família</option>
                                                <option value="orgao" {{ orgao2 }}>Órgãos de Classe</option>
                                                <option value="prefeitura" {{ prefeitura2 }}>Prefeitura</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-md-12 col-sm-12 col-xl-12">
                                    <div class="form-group mb-3">
                                        <label for="municipio">Município:</label>
                                        <select class="form-control form-select" name="municipio" id="municipio" required>
                                            <option value="SANTA_CRUZ_DA_BAIXA_VERDE" {{ SANTA_CRUZ_DA_BAIXA_VERDE }}>Santa Cruz da Baixa Verde</option>
                                            <option value="SERRA_TALHADA" {{ SERRA_TALHADA }}>Serra Talhada</option>
                                            <option value="TRIUNFO" {{ TRIUNFO }}>Triunfo</option>
                                            <option value="CALUMBI" {{ CALUMBI }}> Calumbi</option>
                                            <option value="FLORESTA" {{ FLORESTA }}>Floresta</option>
                                            <option value="MIRANDIBA" {{ MIRANDIBA }}>Mirandiba</option>
                                            <option value="SAO_JOSE_DO_BELMONTE" {{ SAO_JOSE_DO_BELMONTE }}>São José do Belmonte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-md-12 col-sm-12 col-xl-12">
                                    <div class="form-group mb-3" id="divOrgaos">
                                        <label for="orgaos">Órgãos de Classe:</label>
                                        <select class="form-control form-select" name="orgaos" id="orgaos">
                                            <option value="medicina" {{ medicina }}>Medicina (CFM)</option>
                                            <option value="advocacia" {{ advocacia }}>Advocacia (AOB)</option>
                                            <option value="engenharia" {{ engenharia }}>Engenharia (CONFEA)</option>
                                            <option value="odontologia" {{ odontologia }}>Odontologia (CFO)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="tipoCruzamento">Tipo de Cruzamento:</label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xl-12 mb-3 form-group d-flex">
                                    <div class="col col-md-10 col-sm-10 col-xl-10">
                                         <select class="form-control form-select" name="tipoCruzamento" id="tipoCruzamento">
                                            <option value="intersecao" {{ intersecao }}>Interseção</option>
                                            <option value="diferenca" {{ diferenca }}>Diferença</option>
                                         </select>

                                    </div>
                                   <div class="col-xs-2 col-md-2 col-sm-2 col-xl-2 d-flex justify-content-center p-2">
                                        <button type="button" id="info" class="btn " data-bs-toggle="popover"
                                            data-bs-title="Tipo de Cruzamento" data-bs-content=" " onclick="exibirPopover(this)"
                                            onblur="ocultarCampo(this)" style="padding: 1px;">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </button>
                                   </div>

                                </div>
                                <div class="col-xs-12 col-md-12 col-sm-12 col-xl-12">
                                    <div class="d-flex justify-content-center p-4">
                                        <div class="col-xs-8 col-md-6 col-sm-6 col-xl-6">
                                            <!-- <div class="form-check form-switch m-2"> -->
                                            <input class="form-check-input " type="radio" id="todo_periodo" name="tipo_periodo"
                                                value="todo_periodo" onclick="regraPeriodo(this)" {{ todo_periodo }}>
                                            <label class="form-check-label" for="todo_periodo">Todo o Período</label>
                                            <!-- </div> -->
                                        </div>

                                        <div class="col-xs-8 col-md-6 col-sm-6 col-xl-6" style="padding-left: 30px;">
                                            <!-- <div class="form-check form-switch m-2">  -->
                                            <input class="form-check-input" type="radio" id="informar_periodo" name="tipo_periodo"
                                                value="informar_periodo" onclick="regraPeriodo(this)" {{ informar_periodo }}>
                                            <label class="form-check-label" for="informar_periodo">Informar Período</label>
                                            <!-- </div> -->
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-md-12 col-sm-12 col-xl-12 mt-4" style="display:flex" id="divPeriodo">
                                    <div class="col-6 col-md-6 me-1">
                                        <label for="de">De:</label>
                                        <div class=" form-group">
                                            <input type="month" class="form-control" id="de" name="de" value="{{ de }}" placeholder="De">
                                        </div>
                                    </div>
                                     <div class="col-6 col-md-6">
                                         <label for="ate">Até:</label>
                                        <div class="form-group">
                                            <input type="month" class="form-control" id="ate" name="ate" value="{{ ate }}" placeholder="Até">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-12 col-sm-12 col-xl-12 mt-4">
                                    <div class="form-group mb-3">
                                        <label for="nomeBeneficiario">Nome:</label>
                                        <input type="text" class="form-control" id="nomeBeneficiario" name="nomeBeneficiario"
                                            value="{{ nome }}" placeholder="Nome">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xl-12">
                                    <div class="form-group mb-3">
                                        <label for="nis">NIS:</label>
                                        <input type="text" class="form-control" id="nis" name="nis" value="{{ nis }}"
                                            placeholder="Número do NIS">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xl-12 d-flex justify-content-center mt-5 mb-5">
                                    <button type="button" class="btn btn-primary" onclick="carregarDados()">Iniciar
                                        Cruzamento</button>
                                    <button type="submit" id="buscar" style="display: none;"> </button>
                                </div>
                            </form>
<!--                        </div>-->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block optional %}
    {% if data != None and data != "" %}
        <div class="container row justify-content-start">
            <div class="col-md-2">
                <form method="POST" action="/polls/cruzamento/salvar/pdf/" target="_blank">
                    {% csrf_token %}
                    <button type="button" id="salvarpdf" class="btn btn-primary" onclick="salvarPdf()">Salvar PDF</button>
                    <input type="text" id="htmlstring" name="htmlstring" style="display: none;">
                    <button type="submit" id="salvar" style="display: none;"> </button>
                </form>
            </div>

            <div class="col-md-2">
                <form method="POST" action="/polls/cruzamento/salvar/csv/" target="_blank">
                    {% csrf_token %}
                    <button type="button" id="salvarcsv" class="btn btn-primary" onclick="salvarCsv()">Salvar CSV</button>
                    <input type="text" id="htmlstringcsv" name="htmlstring" style="display: none;">
                    <button type="submit" id="salvar2" style="display: none;"> </button>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" id="tabelaDados">
            {{ data | safe }}
        </div>
    {% endif %}

    <div class="modal fade" tabindex="-1" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="content m-5">
                    <center>
                        <div class="loader" id="loader"></div><br>
                        <h4><b id="loadingModal_content"></b></h4>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'polls/cruzamento.js' %}"></script>
{% endblock %}