{% extends "polls/menu.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" xmlns:>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"/>
{% endblock %}

{% block titulo %}Web Crawling{% endblock %}

{% block cruzamento %}active{% endblock %}

{% block content %}

    <form method="POST" class="form-signin" action="/polls/cruzamento/auxilios/busca/">
        {% csrf_token %}

        <div class="d-flex justify-content-between">
            <div class="form-group mb-3">
                <label for="base1">Bases Principal:</label>
                <select class="form-select" id="base1" name="base1" onchange="regraBases()" required>
                    <option value=""></option>
                    <option value="auxilio" {{ auxilio }}>Auxílio Emergencial</option>
                    <option value="bolsa" {{ bolsa }}>Bolsa Família</option>
                    <option value="orgao" {{ orgao }}>Orgãos de Classe</option>
                    <option value="prefeitura" {{ prefeitura }}>Prefeitura</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="base2">Bases Secundária:</label>
                <select class="form-select" id="base2" name="base2" onchange="regraBases()">
                    <option value=""></option>
                    <option value="auxilio" {{ auxilio2 }}>Auxílio Emergencial</option>
                    <option value="bolsa" {{ bolsa2 }}>Bolsa Família</option>
                    <option value="orgao" {{ orgao2 }}>Orgãos de Classe</option>
                    <option value="prefeitura" {{ prefeitura2 }}>Prefeitura</option>
                </select>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="municipio">Município:</label>
            <select class="form-select" name="municipio" id="municipio" required>
                <option value="SANTA_CRUZ_DA_BAIXA_VERDE" {{ SANTA_CRUZ_DA_BAIXA_VERDE }}>Santa Cruz da Baixa Verde</option>
                <option value="SERRA_TALHADA" {{ SERRA_TALHADA }}>Serra Talhada</option>
                <option value="TRIUNFO" {{ TRIUNFO }}>Triunfo</option>
                <option value="CALUMBI" {{ CALUMBI }}> Calumbi</option>
                <option value="FLORESTA" {{ FLORESTA }}>Floresta</option>
                <option value="MIRANDIBA" {{ MIRANDIBA }}>Mirandiba</option>
                <option value="SAO_JOSE_DO_BELMONTE" {{ SAO_JOSE_DO_BELMONTE }}>São José do Belmonte</option>
            </select>
        </div>

        <div class="form-group mb-3" id="divOrgaos">
            <label for="orgaos">Orgãos de Classe:</label>
            <select class="form-select" name="orgaos" id="orgaos">
                <option value="medicina" {{ medicina }}>Medicina</option>
                <option value="advocacia" {{ advocacia }}>Advocacia (AOB)</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="tipoCruzamento">Tipo de Cruzamento:</label>
            <div class="d-flex">
                <select class="form-select" name="tipoCruzamento" id="tipoCruzamento">
                    <option value="intersecao" {{ intersecao }}>Interseção</option>
                    <option value="diferenca" {{ diferenca }}>Diferença</option>
                </select>
                <button type="button" id="info" class="btn" data-bs-toggle="popover" data-bs-title="Tipo de Cruzamento" data-bs-content=" " onclick="exibirPopover(this)" onblur="ocultarCampo(this)" ><i class="fas fa-exclamation-circle"></i></button>
            </div>
        </div>

        <div class="form-group mb-3 d-flex justify-content-between">
            <div class="form-check form-switch m-2">
                <input class="form-check-input" type="radio" id="todo_periodo" name="tipo_periodo" value="todo_periodo" onclick="regraPeriodo(this)" {{ todo_periodo }}>
                <label class="form-check-label" for="todo_periodo">Todo o Período</label>
            </div>
            <div class="form-check form-switch m-2">
                <input class="form-check-input" type="radio" id="mes_mes" name="tipo_periodo" value="mes_mes" onclick="regraPeriodo(this)" {{ mes_mes }}>
                <label class="form-check-label" for="mes_mes">Mês a mês</label>
            </div>
            <div class="form-check form-switch m-2">
                <input class="form-check-input" type="radio" id="informar_periodo" name="tipo_periodo" value="informar_periodo" onclick="regraPeriodo(this)" {{ informar_periodo }}>
                <label class="form-check-label" for="informar_periodo">Informar Período</label>
            </div>
        </div>

        <div class="form-group mb-3" id="divPeriodo" style="display: flex;">
            <label for="de" class="p-2">De:</label>
            <input type="month" class="form-control" id="de" name="de" value="{{ de }}" placeholder="De">
            <label for="ate" class="p-2">Até:</label>
            <input type="month" class="form-control" id="ate" name="ate" value="{{ ate }}" placeholder="Até">
        </div>

        <div class="form-group mb-3">
            <label for="nomeBeneficiario">Nome:</label>
            <input type="text" class="form-control" id="nomeBeneficiario" name="nomeBeneficiario" value="{{ nome }}" placeholder="Nome">
        </div>
        <div class="form-group mb-3">
            <label for="nis">NIS:</label>
            <input type="text" class="form-control" id="nis" name="nis" value="{{ nis }}" placeholder="Número do NIS">
        </div>

        <button type="button" class="btn btn-primary" onclick="carregarDados()">Iniciar Cruzamento</button>
        <button type="submit" id="buscar" style="display: none;"> </button>
    </form>

    <div class="alert alert-danger mt-3" role="alert" id="alerta">
        As bases de dados não podem ser iguais!
    </div>

    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="progresso">
            <span class="sr-only">Carregando Dados...</span>
        </div>
    </div>

{% endblock %}

{% block optional %}
    {% if data != None and data != "" %}
        <form method="POST" action="/polls/cruzamento/salvar/pdf/" target="_blank">
            {% csrf_token %}
            <button type="button" class="btn btn-primary" onclick="salvarPdf()">Salvar PDF</button>
            <input type="text" id="htmlstring" name="htmlstring" style="display: none;">
            <button type="submit" id="salvar" style="display: none;"> </button>
        </form>

        <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" id="tabelaDados">
            {{ data | safe }}
        </div>
    {% endif %}
    <script src="{% static 'polls/cruzamento.js' %}"></script>
{% endblock %}
