<footer id="footer">

    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-5 panel">
                    <h3 class="panel-title">Sobre OAEB</h3>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin convallis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada. Sed non risus eget dolor amet vestibulum ullamcorper. Integer feugiat molestie.</p>
                    </div>
                </div>

                <div class="col-md-4 panel contact">
                    <h3 class="panel-title">Informações</h4>
                    <div class="panel-body">
                        <p>Endereço Profissional:</p>
                        <ul>
<!--                             <li><i class="fa fa-phone"></i> (88) 98116-9372</li>-->
                            <li><i class="fa fa-flag"></i> Unidade Acadêmica de Serra Talhada - UFRPE
                                Av. Gregório Ferraz Nogueira, S/N - José Tomé de Souza Ramos - CEP: 56909-535 - Serra Talhada/PE
                                Caixa Postal: 063</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 panel">
                    <h3 class="panel-title">Canais de Comunicação</h3>
                    <div class="panel-body">
                        <p class="follow-me-icons">
                            <a href="https://www.instagram.com/mael_santos7/"><i class="fab fa-instagram fa-2"></i></a>
                            <a href="https://www.linkedin.com/in/abimael-jonas-738328124/"><i class="fab fa-linkedin fa-2"></i></a>
                            <a href="https://github.com/MaelSantos"><i class="fab fa-github fa-2"></i></a>
                            <a href="https://www.facebook.com/people/Mael-Santos/100014350898752/"><i class="fab fa-facebook fa-2"></i></a>
                            <a href="mailto:maelsantos777@gmail.com"><i class="far fa-envelope"></i></a>
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of panels -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="index.html">Início</a> |
                            <a href="cruzamento.html">Cruzamento de dados</a> |
                            <a href="analise.html">Análises</a> |
                            <a href="contact.html">Contato</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-right">
                            Copyright &copy; 2021. Desenvolvido por <a href="" rel="develop">Abimael Jonas</a>
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of panels -->
        </div>
    </div>

</footer>