{% extends "polls/menu.html" %}
{% block index %}active{% endblock %}
{% load static %}

{% block content %}

 <!-- Header -->
    <header id="head">
        <div class="container row row-md-8 row-sm-10 row-xl-12">
            <div class="container-image"></div>
            <div class="banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Observatório do Auxílio Emergencial do Brasil</h2>
                        <p></p>
                        <div class="da-img" ></div>
                    </div>
                    <div class="da-slide">
                        <h2>Cruzamento entre base de dados</h2>
                        <p></p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Análise de dados disposta em gráficos</h2>
                        <p></p>
                        <div class="da-img"></div>
                    </div>
<!--                     <div class="da-slide">-->
<!--                        <h2></h2>-->
<!--                        <p></p>-->
<!--                        <div class="da-img"></div>-->
<!--                    </div>-->
                    <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- container -->
    <div class="container">
        <br>
        <div class="row" >
            <div class="col-md-4">
                <img src="{% static 'polls/assets/images/grafico.jpeg' %}" alt="" class="img-responsive">
            </div>
            <div class="col-md-8">
                <p>O Observatório do Auxílio Emergencial do Brasil (OAEB) tem como finalidade, realizar buscas e cruzamentos de dados, nas bases do Auxilio Emergencial, Bolsa Família, Órgãos de Classe e prefeituras do sertão do Pernambuco, permitindo analisar cuidadosamente as informações contidas nos mesmos, afim de verificar recebimentos indevidos e devidos do Auxilio Emergencial.</p>
                <blockquote class="blockquote-1">
                    <p>Todos os dados utilizados no cruzamento e demais funcionalidades são coletados por meio de Web Scraping, a técnica permite percorrer as páginas web de terceiros e coletar suas informações.</p>
<!--                    <small>Fulano de tal <cite title="Source Title">Title</cite></small>-->
                </blockquote>
            </div>
        </div>
        <div class="row" style="height:30px;"></div>
    </div>

{% endblock %}

{% block optional %}
    <script src="{% static 'polls/assets/js/modernizr-latest.js' %}"></script>
    <script src="{% static 'polls/assets/js/jquery.cslider.js' %}"></script>
    <script src="{% static 'polls/assets/js/custom.js' %}"></script>
{% endblock %}
