{% extends "polls/menu.html" %}
{% load static %}

{% block links %}
    <style>

        /*Regra para a animacao*/
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /*Mudando o tamanho do icone de resposta*/
        div.glyphicon {
            color: #6B8E23;
            font-size: 38px;
        }

         /*Classe que mostra a animacao 'spin'*/
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

    </style>
{% endblock %}

{% block titulo %}Web Crawling{% endblock %}

{% block analise %}active{% endblock %}

{% block content %}

    <form method="POST" class="form-signin" action="/polls/analise/">
        {% csrf_token %}

        <div class="form-group mb-3">
            <label for="tipoGrafico">Tipo Gráfico:</label>
            <select class="form-select" name="tipoGrafico" id="tipoGrafico" onchange="regraGraficos(this)" required>
                <option value="valor" {{ valor }}>Mês vs Valor</option>
                <option value="total" {{ total }}>Cidades vs Total</option>
            </select>
        </div>

        <div class="form-group mb-3" id="divMunicipio">
            <label for="municipio">Município:</label>
            <select class="form-select" name="municipio" id="municipio" required>
                <option value="SANTA_CRUZ_DA_BAIXA_VERDE" {{ SANTA_CRUZ_DA_BAIXA_VERDE }}>Santa Cruz da Baixa Verde</option>
                <option value="SERRA_TALHADA" {{ SERRA_TALHADA }}>Serra Talhada</option>
                <option value="TRIUNFO" {{ TRIUNFO }}>Triunfo</option>
                <option value="CALUMBI" {{ CALUMBI }}> Calumbi</option>
                <option value="FLORESTA" {{ FLORESTA }}>Floresta</option>
                <option value="MIRANDIBA" {{ MIRANDIBA }}>Mirandiba</option>
                <option value="SAO_JOSE_DO_BELMONTE" {{ SAO_JOSE_DO_BELMONTE }}>São José do Belmonte</option>
            </select>
        </div>

        <div class="form-group mb-3" id="divPeriodo" style="display: flex;">
            <label for="de" class="p-2">De:</label>
            <input type="month" class="form-control" id="de" name="de" value="{{ de }}" placeholder="De">
            <label for="ate" class="p-2">Até:</label>
            <input type="month" class="form-control" id="ate" name="ate" value="{{ ate }}" placeholder="Até">
        </div>

        <button type="button" class="btn btn-primary" onclick="carregarDados()">Procurar</button>
        <button type="submit" id="buscar" style="display: none;"> </button>
    </form>

{% endblock %}

{% block optional %}
    {% if data != None and data != "" %}
        {{ data | safe }}
    {% endif %}

    <div class="modal fade" tabindex="-1" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="content m-5">
                    <center>
                        <div class="loader" id="loader"></div><br>
                        <h4><b id="loadingModal_content"></b></h4>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'polls/analise.js' %}"></script>
{% endblock %}